# <font color='white'> 3. Study Case 3: Most Polluted Countries
- Diberikan dua buah data :
    - `most-polluted-countries-1.csv`
    - `most-polluted-countries-2.csv`

In [2]:
import pandas as pd

rawPollutedCountriesDF_1 = pd.read_csv("most-polluted-countries-1.csv")
rawPollutedCountriesDF_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   pollution_2023                           50 non-null     int64
 1   pollution_growth_Rate                    50 non-null     float64
 2   country_name                             50 non-null     object
 3   ccn3                                     50 non-null     int64
 4   country_region                           50 non-null     object
 5   united_nation_Member                     50 non-null     bool
 6   country_land_Area_in_Km                  50 non-null     float64
 7   pollution_density_in_km                  50 non-null     float64
 8   pollution_density_per_Mile               50 non-null     float64
 9   share_borders                            46 non-null     object
 10  pollution_Rank                           50 non-null     int64
 11  mostPollutedCountries_particlePollution  50 non-null     float64
dtypes: bool(1), float64(5), int64(3), object(3)
memory usage: 4.5+ KB

In [3]:
# Preview data
rawPollutedCountriesDF_1.head()

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
1,1425671352,-0.00015,China,156,Asia,True,9424702.9,151.2696,391.7884,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",2,39.12
2,339996563,0.00505,United States,840,North America,True,9147420.0,37.1686,96.2666,"CAN, MEX",3,9.04
3,277534122,0.00738,Indonesia,360,Asia,True,1877519.0,147.8196,382.8528,"TLS, MYS, PNG",4,51.71
4,240485658,0.01976,Pakistan,586,Asia,True,770880.0,311.9625,807.9829,"AFG, CHN, IND, IRN",5,65.81

In [4]:
rawPollutedCountriesDF_2 = pd.read_csv("most-polluted-countries-2.csv")
rawPollutedCountriesDF_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 12 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   pollution_2023                           46 non-null     int64
 1   pollution_growth_Rate                    46 non-null     float64
 2   country_name                             46 non-null     object
 3   ccn3                                     46 non-null     int64
 4   country_region                           46 non-null     object
 5   united_nation_Member                     46 non-null     bool
 6   country_land_Area_in_Km                  46 non-null     float64
 7   pollution_density_in_km                  46 non-null     float64
 8   pollution_density_per_Mile               46 non-null     float64
 9   share_borders                            39 non-null     object
 10  pollution_Rank                           46 non-null     int64
 11  mostPollutedCountries_particlePollution  46 non-null     float64
dtypes: bool(1), float64(5), int64(3), object(3)
memory usage: 4.1+ KB

In [5]:
# Preview data
rawPollutedCountriesDF_2.head()

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,18190484,0.01053,Ecuador,218,South America,True,248360.0,73.2424,189.6978,"COL, PER",68,8.60
1,18092026,0.01391,Guatemala,320,North America,True,107160.0,168.8319,437.2746,"BLZ, SLV, HND, MEX",70,20.20
2,17618299,0.00309,Netherlands,528,Europe,True,33670.0,523.2640,1355.2538,"BEL, DEU",72,10.91
3,16944826,0.01056,Cambodia,116,Asia,True,176520.0,95.9938,248.6239,"LAO, THA, VNM",73,21.10
4,11686140,0.00259,Belgium,56,Europe,True,30280.0,385.9359,999.5741,"FRA, DEU, LUX, NLD",82,12.52

- **Gabungkan kedua data tersebut.**
- Gabung dengan menggunakan method `.concat()`
- Penggabungan yang dilakukan adalah **penggabungan baris.**
- Ketentuan :
    - **Top table:**
        - `mp_country_1`
    - **Bottom table:**
        - `mp_country_2`
- Notes :
    - Buat indexnya menjadi continue.

In [6]:
# Join the dataframes
pollutedCountriesDF = pd.concat(
    [
        rawPollutedCountriesDF_1,
        rawPollutedCountriesDF_2
    ],
    axis=0,
    ignore_index=True
)

# Preview the data
pollutedCountriesDF.head()

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
1,1425671352,-0.00015,China,156,Asia,True,9424702.9,151.2696,391.7884,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",2,39.12
2,339996563,0.00505,United States,840,North America,True,9147420.0,37.1686,96.2666,"CAN, MEX",3,9.04
3,277534122,0.00738,Indonesia,360,Asia,True,1877519.0,147.8196,382.8528,"TLS, MYS, PNG",4,51.71
4,240485658,0.01976,Pakistan,586,Asia,True,770880.0,311.9625,807.9829,"AFG, CHN, IND, IRN",5,65.81

In [7]:
# Preview the data
pollutedCountriesDF.tail()

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
91,704149,0.01292,Macau,446,Asia,False,32.9,21402.7052,55433.0064,CHN,167,23.50
92,654768,0.01107,Luxembourg,442,Europe,True,2574.5,254.3282,658.7101,"BEL, FRA, DEU",168,9.60
93,535064,0.00333,Malta,470,Europe,True,320.0,1672.0750,4330.6743,NaN,173,9.40
94,412623,0.00644,Bahamas,44,North America,True,10010.0,41.2211,106.7626,NaN,176,3.30
95,375318,0.00649,Iceland,352,Europe,True,100830.0,3.7223,9.6407,NaN,179,5.55

- Melakukan **pengelompokkan** data berdasarkan kolom `country_region`.
- Menampilkan data pertama dari setiap region

In [8]:
# Group the dataframe by "country_region" column
pollutedCountriesDFGrouped = pollutedCountriesDF.groupby("country_region")
# Get first data from each group
selectedPollutedCountriesDF = (
    pollutedCountriesDFGrouped
    .first()
)
# Preview the dataframe
selectedPollutedCountriesDF

,pollution_2023,pollution_growth_Rate,country_name,ccn3,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
country_region,,,,,,,,,,,
Africa,223804632,0.02408,Nigeria,566,True,910770.0,245.7312,636.4439,"BEN, CMR, TCD, NER",6,21.40
Asia,1428627663,0.00808,India,356,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
Europe,144444359,-0.00186,Russia,643,True,16376870.0,8.8200,22.8439,"AZE, BLR, CHN, EST, FIN, GEO, KAZ, PRK, LVA, L...",9,9.85
North America,339996563,0.00505,United States,840,True,9147420.0,37.1686,96.2666,"CAN, MEX",3,9.04
Oceania,26439111,0.01000,Australia,36,True,7692020.0,3.4372,8.9024,None,55,8.00
South America,216422446,0.00515,Brazil,76,True,8358140.0,25.8936,67.0645,"ARG, BOL, COL, GUF, GUY, PRY, PER, SUR, URY, VEN",7,15.77

- Mencari Negara dengan polusi (`pollution_2023`) **tertinggi dan terendah pada region Asia.**
- **Print Negara dengan polusi tertinggi dan terendah.**
- **Tampilkan baris negara tersebut.**

In [12]:
# Select dataframe by group
selectedPollutedCountriesDF = (
    pollutedCountriesDFGrouped
    .get_group("Asia")
)
def getMostPollutedCountry(df):
    mostPollution = max(df["pollution_2023"])
    mostPollutedRecord = (
        df[df["pollution_2023"] == mostPollution]
    )
    mostPollutedCountry = (
        mostPollutedRecord
        ["country_name"]
        .values[0]
    )
    print(f"Negara dengan polusi tertinggi : {mostPollutedCountry}")
    return mostPollutedRecord

mostPollutedRecord = getMostPollutedCountry(selectedPollutedCountriesDF)
mostPollutedRecord

Negara dengan polusi tertinggi : India

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08

In [14]:
def getLeastPollutedCountry(df):
    leastPollution = min(df["pollution_2023"])
    leastPollutedRecord = (
        df[df["pollution_2023"] == leastPollution]
    )
    leastPollutedCountry = (
        leastPollutedRecord
        ["country_name"]
        .values[0]
    )
    print(f"Negara dengan polusi terendah : {leastPollutedCountry}")
    return leastPollutedRecord

leastPollutedRecord = getLeastPollutedCountry(selectedPollutedCountriesDF)
leastPollutedRecord

Negara dengan polusi terendah : Macau

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
91,704149,0.01292,Macau,446,Asia,False,32.9,21402.7052,55433.0064,CHN,167,23.5

- Mencari negara dengan polusi (`pollution_2023`) **dibawah dan diatas rata-rata.**
- **Tampilkan baris negara-negara tersebut.**

In [16]:
meanPollution = pollutedCountriesDF["pollution_2023"].mean()

# Show under average pollution countries

underAveragePollutedCountriesDF = (
    pollutedCountriesDF[
        pollutedCountriesDF["pollution_2023"] < meanPollution
    ]
)
underAveragePollutedCountriesDF

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
19,71801279,0.00145,Thailand,764,Asia,True,510890.0,140.5416,364.0026,"MMR, KHM, LAO, MYS",20,24.25
20,67736802,0.00338,United Kingdom,826,Europe,True,241930.0,279.9851,725.1615,IRL,21,10.53
21,64756584,0.00201,France,250,Europe,True,547557.0,118.2646,306.3052,"AND, BEL, DEU, ITA, LUX, MCO, ESP, CHE",23,12.34
22,60414495,0.00869,South Africa,710,Africa,True,1213090.0,49.8022,128.9876,"BWA, LSO, MOZ, NAM, SWZ, ZWE",24,21.56
23,58870762,-0.00282,Italy,380,Europe,True,295717.0,199.0780,515.6121,"AUT, FRA, SMR, SVN, CHE, VAT",25,17.09
...,...,...,...,...,...,...,...,...,...,...,...,...
91,704149,0.01292,Macau,446,Asia,False,32.9,21402.7052,55433.0064,CHN,167,23.50
92,654768,0.01107,Luxembourg,442,Europe,True,2574.5,254.3282,658.7101,"BEL, FRA, DEU",168,9.60
93,535064,0.00333,Malta,470,Europe,True,320.0,1672.0750,4330.6743,NaN,173,9.40
94,412623,0.00644,Bahamas,44,North America,True,10010.0,41.2211,106.7626,NaN,176,3.30
95,375318,0.00649,Iceland,352,Europe,True,100830.0,3.7223,9.6407,NaN,179,5.55

In [17]:
# Show above average pollution countries

aboveAveragePollutedCountriesDF = (
    pollutedCountriesDF[
        pollutedCountriesDF["pollution_2023"] > meanPollution
    ]
)
aboveAveragePollutedCountriesDF

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
1,1425671352,-0.00015,China,156,Asia,True,9424702.9,151.2696,391.7884,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",2,39.12
2,339996563,0.00505,United States,840,North America,True,9147420.0,37.1686,96.2666,"CAN, MEX",3,9.04
3,277534122,0.00738,Indonesia,360,Asia,True,1877519.0,147.8196,382.8528,"TLS, MYS, PNG",4,51.71
4,240485658,0.01976,Pakistan,586,Asia,True,770880.0,311.9625,807.9829,"AFG, CHN, IND, IRN",5,65.81
5,223804632,0.02408,Nigeria,566,Africa,True,910770.0,245.7312,636.4439,"BEN, CMR, TCD, NER",6,21.40
6,216422446,0.00515,Brazil,76,South America,True,8358140.0,25.8936,67.0645,"ARG, BOL, COL, GUF, GUY, PRY, PER, SUR, URY, VEN",7,15.77
7,172954319,0.01033,Bangladesh,50,Asia,True,130170.0,1328.6803,3441.2821,"MMR, IND",8,83.30
8,144444359,-0.00186,Russia,643,Europe,True,16376870.0,8.8200,22.8439,"AZE, BLR, CHN, EST, FIN, GEO, KAZ, PRK, LVA, L...",9,9.85
9,128455567,0.00746,Mexico,484,North America,True,1943950.0,66.0797,171.1463,"BLZ, GTM, USA",10,20.02
10,126527060,0.02551,Ethiopia,231,Africa,True,1128571.3,112.1126,290.3716,"DJI, ERI, KEN, SOM, SSD, SDN",11,20.10
11,123294513,-0.00530,Japan,392,Asia,True,364500.0,338.2566,876.0845,NaN,12,11.36
12,117337368,0.01539,Philippines,608,Asia,True,298170.0,393.5251,1019.2299,NaN,13,17.63
13,112716598,0.01556,Egypt,818,Africa,True,995450.0,113.2318,293.2704,"ISR, LBY, SDN",14,18.00
14,102262808,0.03285,DR Congo,180,Africa,True,2267050.0,45.1083,116.8305,"AGO, BDI, CAF, COG, RWA, SSD, TZA, UGA, ZMB",15,32.10
15,98858950,0.00685,Vietnam,704,Asia,True,313429.0,315.4110,816.9145,"KHM, CHN, LAO",16,34.06
16,89172767,0.00703,Iran,364,Asia,True,1622500.0,54.9601,142.3467,"AFG, ARM, AZE, IRQ, PAK, TUR, TKM",17,24.27
17,85816199,0.00557,Turkey,792,Asia,True,783562.0,109.5206,283.6584,"ARM, AZE, BGR, GEO, GRC, IRN, IRQ, SYR",18,20.62
18,83294633,-0.00090,Germany,276,Europe,True,349390.0,238.4002,617.4564,"AUT, BEL, CZE, DNK, FRA, LUX, NLD, POL, CHE",19,11.01